<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">


    <select id="getArtCountByUid" resultType="Integer">
        select count(*) from articleinfo where uid = #{uid} and state=1
    </select>

    <select id="getMyList"  resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where uid=#{uid} and state=1 order by updatetime desc
    </select>

    <delete id="delete">
        delete from articleinfo where id=#{id} and uid=#{uid}
    </delete>

    <update id="updateState">
        update articleinfo set state=#{state} where id=#{id} and uid=#{uid}
    </update>

    <select id="getDetail" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where id=#{id}
    </select>

    <update id="incrRCount">
        update articleinfo set rcount=rcount+1 where id=#{id}
    </update>

   <insert id="add">
       insert into articleinfo(title,content,uid)
       values(#{title},#{content},#{uid})
   </insert>

    <update id="update">
        update articleinfo set title=#{title},content=#{content},updatetime=#{updatetime}
        where id=#{id} and uid=#{uid}
    </update>

    <select id="getListByPage" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where state=1 order by updatetime desc  limit #{psize} offset #{offsize}
<!--        select * from articleinfo where state=1 order by updatetime desc  limit 6 offset 6-->
    </select>

    <select id="getCount" resultType="Integer">
        select count(*) from articleinfo where state=1
    </select>

    <insert id="draftAdd" useGeneratedKeys="true" keyProperty="id" >
        insert into articleinfo(title,content,uid,state)
        values(#{title},#{content},#{uid},#{state})
    </insert>

    <update id="draftupdate">
        update articleinfo set title=#{title},content=#{content},updatetime=#{updatetime},state=#{state}
        where id=#{id} and uid=#{uid}
    </update>

    <select id="getMyDraftList"  resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where uid=#{uid} and state=-1 order by updatetime desc
    </select>


</mapper>