<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">


    <select id="getCommentByArticle" resultType="com.example.demo.entity.Commentinfo">
        select * from commentinfo where articleid = #{articleid} order by createtime desc
    </select>

    <select id="getCommentVOByArticle" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select * from commentinfo where articleid = #{articleid} order by createtime desc
    </select>

    <select id="getCommentOne" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select * from commentinfo where articleid = #{articleid} and parentid = -1 order by createtime desc
    </select>

    <select id="getCommentTwo" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select * from commentinfo where articleid = #{articleid} and parentid != -1 order by createtime desc
    </select>

    <select id="getFirstCommentByArticle" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select c.id,c.uid,c.content,c.createtime,u.username,u.photo as userphoto
        from commentinfo c join userinfo u on c.uid=u.id
        and c.parentid=-1 and articleid=#{articleid} order by c.createtime desc;
    </select>

    <select id="getSecondaryCommentByArticle" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select c.id,c.uid,c.content,c.createtime,u.username,u2.username as replyname,c.parentid
        from commentinfo c join userinfo u on c.uid=u.id  join userinfo u2 on c.replyid=u2.id
        and c.parentid != -1  and articleid=#{articleid} order by c.createtime desc;
    </select>



    <insert id="add" useGeneratedKeys="true" keyProperty="id">
    <!--        返回自增id-->
        insert into commentinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleid!=null">articleid, </if>
            <if test="uid!=null"> uid, </if>
            <if test="content!=null"> content, </if>
            <if test="createtime!=null"> createtime, </if>
            <if test="replyid!=null"> replyid,</if>
            <if test="parentid!=null"> parentid,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleid!=null"> #{articleid}, </if>
            <if test="uid!=null"> #{uid}, </if>
            <if test="content!=null"> #{content}, </if>
            <if test="createtime!=null"> #{createtime}, </if>
            <if test="replyid!=null"> #{replyid},</if>
            <if test="parentid!=null"> #{parentid},</if>
        </trim>
    </insert>

    <delete id="deleteOfMineById">
        delete from commentinfo where id=#{id} and uid=#{uid}
    </delete>

    <delete id="deleteSecondaryComment">
        delete from commentinfo where parentid=#{parentid}
    </delete>

    <delete id="deleteOfMineByArticle">
        delete from commentinfo where articleid=#{articleid}
    </delete>

    <select id="getCommentOfMine" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select * from commentinfo where uid = #{uid} order by createtime desc
    </select>

    <select id="getCommentsByUid" resultType="com.example.demo.entity.vo.CommentinfoVO">
        select c.id,c.articleid,c.content,c.createtime as showtime,a.title as articlename,u.username as articleauthor
        from commentinfo c join articleinfo a on c.articleid=a.id join userinfo u on u.id=a.uid
        and c.uid=#{uid} order by c.createtime desc;
    </select>

</mapper>